{% extends "base.html" %}
{% load staticfiles %}

{% block main_content %}
<div class="container main-content">
  <div class="row">

    <div class="col s12 m6 l4">
      <div class="card sticky-action">
        <div class="card-image">
          <img src="{{products.pictures}}">
          <span class="card-title">{{products.name}}</span>
        </div>
        <div class="card-content">
          <p class="truncate">I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively.</p>
        </div>
        <div class="card-action">
          <a href="/product/{{product.id}}">Details</a>
          <span class="right price-hour">{{product.price}} | {{product.required_hour}} <i class="material-icons tiny">query_builder</i></span>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock main_content %}