{% extends "base.html" %}
{% load staticfiles %}

{% block ng_settings %}
ng-app="indexApp"
ng-controller="IndexCtrl"
{% endblock ng_settings %}

{% block extra_navbar %}
<div class="search-wrapper">
  <input id="search" type="search" ng-model="q" required>
  <label for="search"><i class="material-icons white-text" >search</i></label>
</div>
{% endblock extra_navbar %}


{% block main_content %}
<div class="container main-content">
  <div class="row">

  {% verbatim %}
    <div class="col s12 m6 l6" ng-repeat="product in products">
      <div class="card sticky-action hoverable">
        <div class="card-image">
          <a href="/product/{{product.id}}"><img ng-src="{{product.pictures}}"></a>
          <a href="/product/{{product.id}}"><span class="card-title">{{product.name}}</span></a>
        </div>
        <div class="card-content">
          <p class="truncate"></p>
        </div>
        <div class="card-action">
          <a href="/product/{{product.id}}">Details</a> <i class="material-icons tiny icon-heart">favorite</i> <span>{{product.likes}}</span>
          <span class="right price-hour">{{product.price}} | <i class="material-icons tiny">query_builder</i> {{product.required_hour}} hr</span>
        </div>
      </div>
    </div>
    {% endverbatim %}
  </div>
</div>
{% endblock main_content %}

{% block extra_scripts %}
<script>
var app = angular.module('indexApp', []);
app.controller('IndexCtrl', function($scope, $http) {
  $http.get('{% url "products" %}', {params: {q: ''}})
    .then(function(resp) {
      $scope.products = resp.data;
    })

  $scope.$watch('q', function(newVal, oldVal) {
    if (newVal != oldVal) {
      newVal = newVal ? newVal : '';
      $http.get('{% url "products" %}', {params: {q: newVal}})
        .then(function(resp) {
          $scope.products = resp.data;
        })
    }
  })

});
</script>
{% endblock extra_scripts %}
