{% extends "base.html" %}
{% load staticfiles %}

{% block main_content %}
<div class="container legend-content">
	<div class="col s12">
		<div class="carousel carousel-slider center" data-indicators="true">

	    {% for product in products %}
	    <div class="carousel-item white-text" style="background-image:url('{{product.pictures}}');background-repeat:no-repeat;background-size:100% auto;background-position:center top; color:rgb(255,255,255,0.5)" href="#one!">
	      <h2>{{product.name}}</h2>
	      <p class="white-text">{{product.description}}!</p>
	    </div>
	    {% endfor %}

	  </div>
	</div>

	<div class="row">
		<div class="col offset-s1 s11 offset-m1 m11 offset-l1 l11"><h3>家務傳說</h3></div>

		<div class="col s12 m6 l6">
	    <div class="card horizontal hoverable">
	      <div class="card-image">
	        <img src="http://www.clipartkid.com/images/782/garbage-can-clipart-picture-of-a-trash-can-VgXX44-clipart.png" style="width:100px;">
	      </div>
	      <div class="card-stacked">
	        <div class="card-content">
	          <p>從指定地點收集垃圾並將其丟至丟棄區。</p>
	        </div>
	        <div class="card-action">
	          <a href="#">詳細說明</a>
	          <span class="price-hour right">300</span>
	        </div>
	      </div>
	    </div>
	  </div>

	  <div class="col s12 m6 l6">
	    <div class="card horizontal hoverable">
	      <div class="card-image">
	        <img src="http://www.clipartkid.com/images/494/children-cooking-clip-art-erwinnavyanto-in-Tb0XYR-clipart.jpg" style="width:100px;">
	      </div>
	      <div class="card-stacked">
	        <div class="card-content">
	          <p>幫忙烹煮晚餐。</p>
	        </div>
	        <div class="card-action">
	          <a href="#">詳細說明</a>
	          <span class="price-hour right">300</span>
	        </div>
	      </div>
	    </div>
	  </div>

	  <div class="col s12 m6 l6">
	    <div class="card horizontal hoverable">
	      <div class="card-image">
	        <img src="http://www.clipartkid.com/images/683/girl-walking-dog-clipart-best-BhYgXm-clipart.jpeg" style="width:100px">
	      </div>
	      <div class="card-stacked">
	        <div class="card-content">
	          <p>帶寵物去看病。</p>
	        </div>
	        <div class="card-action">
	          <a href="#">詳細說明</a>
	          <span class="price-hour right">300</span>
	        </div>
	      </div>
	    </div>
	  </div>

	  <div class="col s12 m6 l6">
	    <div class="card horizontal hoverable">
	      <div class="card-image">
	        <img src="http://www.clipartkid.com/images/71/view-grocery-bag-jpg-clipart-free-nutrition-and-healthy-food-clipart-Fv8yyS-clipart.jpg" style="width:100px">
	      </div>
	      <div class="card-stacked">
	        <div class="card-content">
	          <p>一起去雜貨店買小玩意。</p>
	        </div>
	        <div class="card-action">
	          <a href="#">詳細說明</a>
	          <span class="price-hour right">300</span>
	        </div>
	      </div>
	    </div>
	  </div>

	  <div class="col s12 m6 l6">
	    <div class="card horizontal hoverable">
	      <div class="card-image">
	        <img src="http://www.clipartkid.com/images/855/sweeping-clipart-image-little-girl-sweeping-YJ8lBC-clipart.jpg" style="width:100px;">
	      </div>
	      <div class="card-stacked">
	        <div class="card-content">
	          <p>幫忙清掃公共區域。</p>
	        </div>
	        <div class="card-action">
	          <a href="#">詳細說明</a>
	          <span class="price-hour right">300</span>
	        </div>
	      </div>
	    </div>
	  </div>


	</div>
</div>

{% endblock main_content %}
