{% extends "base.html" %}
{% load staticfiles %}

{% block main_content %}
<div class="container legend-content">
	<div class="col s12">
		<div class="carousel carousel-slider center" data-indicators="true">

	    {% for product in products %}
	    <div class="carousel-item white-text" style="background-image:url('{{product.pictures}}');background-repeat:no-repeat;background-size:100% auto;background-position:center top;" href="#one!">
	      <h2>{{product.name}}</h2>
	      <p class="white-text">Challenge Yourself!</p>
	    </div>
	    {% endfor %}

	  </div>
	</div>

	<div class="row">

		<div class="col s12 m12 l12">

	    <div class="card horizontal hoverable">
	      <div class="card-image">
	        <img src="http://lorempixel.com/100/190/nature/10">
	      </div>
	      <div class="card-stacked">
	        <div class="card-content">
	          <p>從指定地點收集垃圾並將其丟至丟棄區。</p>
	        </div>
	        <div class="card-action">
	          <a href="#">Detail Info</a>
	          <span class="price-hour right">300</span>
	        </div>
	      </div>
	    </div>

	    <div class="card horizontal hoverable">
	      <div class="card-image">
	        <img src="http://lorempixel.com/100/190/nature/10">
	      </div>
	      <div class="card-stacked">
	        <div class="card-content">
	          <p>幫忙烹煮晚餐。</p>
	        </div>
	        <div class="card-action">
	          <a href="#">Detail Info</a>
	          <span class="price-hour right">270</span>
	        </div>
	      </div>
	    </div>

	    <div class="card horizontal hoverable">
	      <div class="card-image">
	        <img src="http://lorempixel.com/100/190/nature/10">
	      </div>
	      <div class="card-stacked">
	        <div class="card-content">
	          <p>帶寵物去看病。</p>
	        </div>
	        <div class="card-action">
	          <a href="#">Detail Info</a>
	          <span class="price-hour right">450</span>
	        </div>
	      </div>
	    </div>

	    <div class="card horizontal hoverable">
	      <div class="card-image">
	        <img src="http://lorempixel.com/100/190/nature/10">
	      </div>
	      <div class="card-stacked">
	        <div class="card-content">
	          <p>一起去雜貨店買小玩意。</p>
	        </div>
	        <div class="card-action">
	          <a href="#">Detail Info</a>
	          <span class="price-hour right">800</span>
	        </div>
	      </div>
	    </div>

	    <div class="card horizontal hoverable">
	      <div class="card-image">
	        <img src="http://lorempixel.com/100/190/nature/10">
	      </div>
	      <div class="card-stacked">
	        <div class="card-content">
	          <p>幫忙清掃公共區域。</p>
	        </div>
	        <div class="card-action">
	          <a href="#">Detail Info</a>
	          <span class="price-hour right">3100</span>
	        </div>
	      </div>
	    </div>

	  </div>

	</div>
</div>

{% endblock main_content %}
