{% extends "base.html" %}
{% load staticfiles %}

{% block main_content %}
<div class="container detail-content">
	<div class="row">
		
		<div class="col s12 zero-padding">
			<img class="product-image" src="{{product.pictures}}">
			<div class="col s11">
				<h5>{{product.name}} <span class="price-hour right">{{product.price}}</span></h5>
			</div>
      <div class="col s10">
        <p><i class="material-icons icon-heart">favorite</i> <span id="like_count">{{product.likes}}</span></p>
        <div class="publisher">
          <div class="item">
            <p>提供者:</p>
          </div>
          <div class="item">
            <a href="{% url 'profiles' owner.id %}">
              <div class="chip">
                <img src="{{owner.avatar}}" alt="Contact Person">
                {{owner.username}}
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="col s10">
          <div class="item">
            <p>{{product.description}}</p>
          </div>
      </div>
		</div>

		<!-- Floating Action Button -->
    <div class="fixed-action-btn" style="bottom: 50px; right: 19px;">
      <a class="btn-floating btn-large">
        <i class="material-icons">add</i>
      </a>
      <ul>
        <li><a href="#" onclick="like({{product.id}});return false" class="btn-floating red" data-position="left" data-delay="50"><i class="material-icons">favorite_border</i></a></li>
        <li><a href="#modal1" class="btn-floating green modal-trigger" data-target="modal1" data-position="left" data-delay="50"><i class="material-icons">shopping_cart</i></a></li>
      </ul>
    </div>
    <!-- Floating Action Button -->

	</div>
</div>

<!-- Modal Trigger -->
<!-- <a class="modal-trigger waves-effect waves-light btn" href="#modal1">Modal</a> -->

<!-- Modal Structure -->
<div id="modal1" class="modal modal-fixed-footer">
  <div class="modal-header">
    <h4>{{product.name}} <span class="price-hour right">{{product.price}}</span></h4>
  </div>
  <div class="modal-content">
    <p>Last updated: {{product.update_date}}</p>
    <p>每條手環都有一個獨一無二的故事，也代表著一種心意跟願望。</p>
    <p>簡單的幾個線條，做些編織就能成為一個故事，一個飾品，一個禮物，只希望戴上手環的人能延續故事跟好心情的理念。</p>
    <p><strong>產地/製造方式</strong></p>
    <p>台灣 | 手工製作</p>
    <p><strong>使用及保養方式</strong></p>
    <p>仿皮繩材質不防水，如果碰水後請立即擦乾（可延長手環壽命），隨著碰水次數手環會漸漸退色均屬正常現象，不介意的再進行下單，或下水。</p>
    <p>簡單好搭配的款式，想帶著它出去的任何一天，輕輕戴上即可。不佩戴時放入夾鏈帶保存才會延長飾品美麗光澤喲。</p>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-action waves-effect waves-green btn-flat ">同意購買</a>
    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">取消</a>
  </div>
</div>
{% endblock main_content %}

{% block extra_scripts %}
<script>
function like(id) {
  {% if user.is_authenticated %}
    $.post('{% url "products" %}', {id: id}, function(resp) {
      $('#like_count').text(parseInt($('#like_count').text()) + parseInt(resp));
      if (parseInt(resp) > 0) {
        Materialize.toast('You liked this product', 2000);
        $('#like_count').append(' | You like it!');
      }
    })
  {% else %}
    Materialize.toast('請先登入！', 4000)
  {% endif %}
}
</script>
{% endblock extra_scripts %}