{% extends "base.html" %}
{% load staticfiles %}

{% block main_content %}
<div class="container detail-content">
	<div class="row">
		
		<div class="col s12 zero-padding">
			<img class="product-image" src="{{product.pictures}}">
			<div class="col s11">
				<h5>{{product.name}} <span class="price-hour right">{{product.price}}</span></h5>
			</div>
      <div class="col s10">
        <p><i class="material-icons icon-heart">favorite</i> <span id="like_count">{{product.likes}}</span></p>
        <div class="publisher">
          <div class="item">
            <p>Offerred by:</p>
          </div>
          <div class="item">
            <a href="{% url 'profiles' owner.id %}">
              <div class="chip">
                <img src="{{owner.avatar}}" alt="Contact Person">
                {{owner.username}}
              </div>
            </a>
          </div>
        </div>
      </div>
		</div>

		<!-- Floating Action Button -->
    <div class="fixed-action-btn" style="bottom: 50px; right: 19px;">
      <a class="btn-floating btn-large">
        <i class="material-icons">add</i>
      </a>
      <ul>
        <li><a href="#" onclick="like({{product.id}});return false" class="btn-floating red tooltipped" data-position="left" data-delay="50" data-tooltip="Like"><i class="material-icons">favorite_border</i></a></li>
        <li><a href="#modal1" class="btn-floating green tooltipped modal-trigger" data-target="modal1" data-position="left" data-delay="50" data-tooltip="Buy Me"><i class="material-icons">shopping_cart</i></a></li>
      </ul>
    </div>
    <!-- Floating Action Button -->

	</div>
</div>

<!-- Modal Trigger -->
<!-- <a class="modal-trigger waves-effect waves-light btn" href="#modal1">Modal</a> -->

<!-- Modal Structure -->
<div id="modal1" class="modal modal-fixed-footer">
  <div class="modal-content">
    <h4>{{product.name}}</h4>
    <h5>Terms of Service ("Terms")</h5>
    <p>Last updated: August 20, 2016</p>
    <p>Please read these Terms of Service ("Terms", "Terms of Service") carefully before using the homie.com website (the "Service") operated by Homie ("us", "we", or "our").</p>
    <p>Your access to and use of the Service is conditioned on your acceptance of and compliance with these Terms. These Terms apply to all visitors, users and others who access or use the Service.</p>
    <p>By accessing or using the Service you agree to be bound by these Terms. If you disagree with any part of the terms then you may not access the Service.</p>
    <p><strong>Accounts</strong></p>
    <p>When you create an account with us, you must provide us information that is accurate, complete, and current at all times. Failure to do so constitutes a breach of the Terms, which may result in immediate termination of your account on our Service.</p>
    <p>You are responsible for safeguarding the password that you use to access the Service and for any activities or actions under your password, whether your password is with our Service or a third-party service.</p>
    <p>You agree not to disclose your password to any third party. You must notify us immediately upon becoming aware of any breach of security or unauthorized use of your account.</p>
    <p><strong>Links To Other Web Sites</strong></p>
    <p>Our Service may contain links to third-party web sites or services that are not owned or controlled by Homie.</p>
    <p>Homie has no control over, and assumes no responsibility for, the content, privacy policies, or practices of any third party web sites or services. You further acknowledge and agree that Homie shall not be responsible or liable, directly or indirectly, for any damage or loss caused or alleged to be caused by or in connection with use of or reliance on any such content, goods or services available on or through any such web sites or services.</p>
    <p>We strongly advise you to read the terms and conditions and privacy policies of any third-party web sites or services that you visit.</p>
    <p><strong>Governing Law</strong></p>
    <p>These Terms shall be governed and construed in accordance with the laws of Taiwan, without regard to its conflict of law provisions.</p>
    <p>Our failure to enforce any right or provision of these Terms will not be considered a waiver of those rights. If any provision of these Terms is held to be invalid or unenforceable by a court, the remaining provisions of these Terms will remain in effect. These Terms constitute the entire agreement between us regarding our Service, and supersede and replace any prior agreements we might have between us regarding the Service.</p>
    <p><strong>Changes</strong></p>
    <p>We reserve the right, at our sole discretion, to modify or replace these Terms at any time. If a revision is material we will try to provide at least 30 days notice prior to any new terms taking effect. What constitutes a material change will be determined at our sole discretion.</p>
    <p>By continuing to access or use our Service after those revisions become effective, you agree to be bound by the revised terms. If you do not agree to the new terms, please stop using the Service.</p>
    <p><strong>Contact Us</strong></p>
    <p>If you have any questions about these Terms, please contact us.</p>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-action waves-effect waves-green btn-flat ">Agree to purchase</a>
    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Cancel</a>
  </div>
</div>
{% endblock main_content %}

{% block extra_scripts %}
<script>
function like(id) {
  {% if user.is_authenticated %}
    $.post('{% url "products" %}', {id: id}, function(resp) {
      $('#like_count').text(parseInt($('#like_count').text()) + parseInt(resp));
    })
  {% else %}
    Materialize.toast('請先登入！', 4000)
  {% endif %}
}
</script>
{% endblock extra_scripts %}