{% extends "base.html" %}
{% load staticfiles %}

{% block main_content %}
<div class="container profile-content">
	<div class="row">
		<div class="col s12 header"></div>
		
		<div class="col s12">
			<div class="col s11 offset-s1"><img class="circle avatar" src="{{request.user.userprofile.avatar}}"></div>
			<div class="col s5 offset-s6 m5 offset-m4 l5 offset-l4 basic-info">
				<h3>{{request.user.username}}</h3>
				<h6>{{request.user.email}}</h6>
			</div>
		</div>

		<div class="col s12 chart-wrapper">
			<div id="chart-container"></div>
		</div>

		<div class="col s10 offset-s1">
			<hr>
		</div>

		<div class="col s10 offset-s1">
			{% for product in products %}

				<div class="col s12 m6 l6" ng-repeat="product in products">
		      <div class="card sticky-action hoverable">
		        <div class="card-image">
		          <a href="/product/{{product.id}}"><img src="{{product.pictures}}"></a>
		          <a href="/product/{{product.id}}"><span class="card-title">{{product.name}}</span></a>
		        </div>
		        <div class="card-content">
		          <p class="truncate"></p>
		        </div>
		        <div class="card-action">
		          <a href="/product/{{product.id}}">Details</a> <i class="material-icons tiny icon-heart">favorite</i> <span>{{product.likes}}</span>
		          <span class="right price-hour">{{product.price}} | <i class="material-icons tiny">query_builder</i> {{product.required_hour}} hr</span>
		        </div>
		      </div>
		    </div>

			{% endfor %}
		</div>
	</div>
</div>

{% block extra_scripts %}
<script type="text/javascript">
var highchartsData = {
    chart: {
        polar: true,
        type: 'line',
        borderWidth: 0,
    },

    title: {
        text: '{{user.username}} 的能力分布圖',
        x: -80
    },
    pane: {
        size: '80%'
    },
    xAxis: {
        categories: ['清潔', '煮飯', '保母', '手工藝',
                '水電', '電腦'],
        tickmarkPlacement: 'on',
        lineWidth: 0
    },
    yAxis: {
        gridLineInterpolation: 'polygon',
        lineWidth: 0,
        min: 0
    },
    tooltip: {
        shared: true,
        pointFormat: '<span style="color:{series.color}">{series.name}: <b>{point.y:,.0f}</b><br/>'
    },
    legend: {
        align: 'right',
        verticalAlign: 'top',
        y: 70,
        layout: 'vertical'
    },
    series: [{
        name: '能力值',
        data: [75000, 43000, 60000, 86000, 15000, 8000],
        pointPlacement: 'on'
    }],
    credits: {
    	enabled: false
    }
};
$('#chart-container').highcharts(highchartsData);
</script>
{% endblock extra_scripts %}
{% endblock main_content %}